<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/layout/default">
<head>
<title>Cập nhật quyền</title>
</head>
<body>
	<section id="admin-content" class="p-3" layout:fragment="noidung">
		<h3 class="mb-4 text-center">Cập nhật quyền</h3>
		<p th:text="${message}"></p>
		<form th:action="@{/role/edit}" th:object="${role}" method="post"
			action="">
			<div class="row">
				<div class="col-md-6 m-auto">
					<input type="hidden" th:field="*{id}" />
					<div class="form-group">
						<label>Tên quyền</label> <input type="text" th:field="*{name}"
							class="form-control" /> 
							<span class="text-danger"
							th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
					</div>
					<div class="form-group">
						<label>Mô tả</label> <input type="text" th:field="*{description}"
							class="form-control" /> <span class="text-danger"
							th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}"></span>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Lưu lại</button>
						<a class="btn btn-secondary" th:href="@{/role}">Quay lại</a>
					</div>
				</div>
			</div>
		</form>
	</section>
</body>
</html>